<div class="container">
	{{!-- <p class="instructions">Click the knife and fork to eat any burger in stock (left). Click the waiter to order more of any burger out of stock (right). Don't see a burger you want to eat? Gosh you're picky. Order your very own one-of-a-kind burger below.</p> --}}

	<!-- header row -->


	<div id="rowHeadImage" class="row  d-flex justify-content-center">
		<div id="colHeadImage" class="col d-flex justify-content-center">
			<img id="headImage" class="img-fluid" src="/assets/img/burger.png">
		</div>
		<!-- header -->
	</div>
	<div id="rowHeadTitle" class="row">
		<div id="colHeadTitle" class="col d-flex justify-content-center">
			<h2>To eat, or not to eat. That is the question</h2>
		</div>
	</div>

	<div id="rowAddBurger" class="row d-flex justify-content-center">
		<div id="colAddBurger" class="col d-flex justify-content-center">
			<form id="formAddBurger">
				<input id="inpAddBurger" type="text" class="form-control" id="burgerName" placeholder="Describe your next burger.">
				<button type="submit" id="submit">Add your burger.</button>
			</form>
		</div>
	</div>

	<div id="rowBurgerLists" class="row">
		<!-- burgers -->
		<div id="colUndev" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<!-- left column -->
			<h4 id="headUndev">Tis nobler to live unsatiated?</h4>
				<ol id="olUndev">
					{{#each burgers}}
						{{#unless this.devoured}}
					{{!-- <div class="row"> --}}

							<li><button class="btnUndev">{{this.burger_name}}</button></li>

					{{!-- <img src="./assets/img/burger.png" class="tinyicon burgericon"><h2>{{burger_name}}</h2> --}}
						{{/unless}}
					{{/each}}
				</ol>
		</div> <!-- left column -->

		<div id="colDev"  class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<!-- right column -->
			<h4 id="headDev">To dine, perchance to belch?</h4>
				<ol id="olDev">
					{{#each burgers}}
						{{#if this.devoured}}

							<li><button class="devoured">{{this.burger_name}}</button></li>

						{{/if}}
					{{/each}}
				</ol>
		</div> <!-- right column -->
	</div> <!-- burgers row -->

	<div class="row text-center">
		<!-- footer -->
		<p class="footer"><a href="https://github.com/karamui/burger">GitHub</a></p>
	</div> <!-- footer row -->

</div> <!-- container -->