<div class="container">
	{{!-- <p class="instructions">Click the knife and fork to eat any burger in stock (left). Click the waiter to order more of any burger out of stock (right). Don't see a burger you want to eat? Gosh you're picky. Order your very own one-of-a-kind burger below.</p> --}}

	<!-- header row -->


	<div id="rowHeadImage m-3" class="row  d-flex justify-content-center">
		<div id="colHeadImage" class="col d-flex justify-content-center">
			<img id="headImage" class="img-fluid m-4" src="/assets/img/OldeBurger.png">
		</div>
		<!-- header -->
	</div>
	<div id="rowHeadTitle" class="row">
		<div id="colHeadTitle" class="col d-flex justify-content-center">
			<h1>To eat, or not to eat. That is the question</h1>
		</div>
	</div>

	<div id="rowAddBurger" class="row d-flex justify-content-center">
		<div id="colAddBurger" class="col d-flex justify-content-center">
			<form id="formAddBurger" class="w-75 p-3">
				<div class="form-group">
					<input id="inpAddBurger" type="text" class="form-control text-center m-3" placeholder="Describe thy burger. For if it be called by any other name, it shall not be so savory.">
					<button class="text-center form-control alert alert-secondary my-3 p-1 w-50" type="submit" id="submit">Click and thy burger shall be unto you.</button>
				</div>
			</form>
		</div>
	</div>

	<div class="row m-3"> </div>

	<div id="rowBurgerLists" class="container row">
		<!-- burgers -->
		<div id="colUndev" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="row">
				<div class="col">
					<h4 id="headUndev" class="text-center">Click on thy burger and indulge in thy gluttony.</h4>
				</div>
			</div>
			<!-- left column -->
					{{#each burgers}}
						{{#unless this.devoured}}
					<div class="container row d-flex justify-content-end" id="liUndev"+{{this.id}}>					
							<button class="btnUndev m-2 alert alert-secondary">{{this.burger_name}}</button>
					</div>
						{{/unless}}
					{{/each}}
		</div> <!-- left column -->

		<div id="colDev" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<!-- left column -->
			<div class="row">
				<div class="col">
					<h4 id="headUndev" class="text-center">Behold the vast parade of beasts thou hast consumed.</h4>
				</div>
			</div>
					{{#each burgers}}
						{{#if this.devoured}}
					<div class="container row d-flex justify-content-end" id="liDev"+{{this.id}}>					
							<button class="btnDev m-2 alert alert-secondary">{{this.burger_name}}</button>
					</div>
						{{/if}}
					{{/each}}
		</div> <!-- right column -->
	</div> <!-- burgers row -->

	<div class="row d-flex-row justify-content-center text-center m-5">
		<!-- footer -->
		<p class="footer"><a href="https://github.com/rbaird2001/burger">GitHub</a></p>
	</div> <!-- footer row -->

</div> <!-- container -->